button {
  display: block;
  margin-top: 5px;
  padding: 10px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background: #1f2f3d;
  color: white;
  transition: 0.3s;
}

button:hover {
  background: #2c4458;
}

.registry-back-btn {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}

nav{
    background-color: #1f2f3d;
}