<nav class="navbar">
  <div class="container-fluid d-flex align-items-center">

    <img
      src="../../assets/images/logo.png"
      class="img-fluid navbar-logo"
      style="max-height: 60px;"
      (click)="openHome()"
    />

    <div class="div-buttons d-flex align-items-center">

      <ng-container *ngIf="!isLoggedIn()">
        <button (click)="openRegister()" class="registry-back-btn">
          Regisztráció
        </button>

        <button (click)="openLogin()" class="registry-back-btn">
          Bejelentkezés
        </button>
      </ng-container>

      <ng-container *ngIf="isLoggedIn()">
        <button type="button" class="profile-trigger" (click)="openProfile()">
          <div class="profile-mini-icon">
            <div class="mini-head"></div>
            <div class="mini-body"></div>
          </div>
          <span>{{ username() }}</span>
        </button>
      </ng-container>

    </div>
  </div>
</nav>

<app-registry-comp
  *ngIf="isRegisterOpen"
  (close)="closeRegister()">
</app-registry-comp>

<app-login-comp
  *ngIf="isLoginOpen"
  (close)="closeLogin()">
</app-login-comp>